.listItemTrashIcon{
    display:flex !important;
    width:33%;
    justify-content:center;
  }

  .hide{
    visibility: hidden;
    display:flex !important;
    width:33%;
    justify-content:center;
  }