  .listTextWrapper{
    width:85%;
  }
  
  .listActivity{
    display:flex;
    padding: 5px 0;
    margin-bottom: 5px;
  }
  
  .listDate{
    display:flex;
    font-size:12px;
  }
  
  .listIconsWrapper{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
