.todoList{
    width: 50%;
    padding: 0;
  }
  

  .checkIcon{
    display:flex;
    width:33%;
    justify-content:center;
  }
  
  .pencilIcon{
    display:flex;
    width:33%;
    justify-content:center;
  }
  
  .trashIcon{
    display:flex;
    width:33%;
    justify-content:center;
  }
  
  .cancelIcon{
    display:flex;
    width:33%;
    justify-content:center;
  }