.listItem{
    display: flex;
    padding: 15px;
    background-color: #FFF;
    border-radius: 5px;
    filter: drop-shadow(1px 5px 6px rgba(187, 187, 187, 0.8));
    margin: 15px 0;
    transition: all 0.4s ease-out;
    opacity: 1;
}
.listItem:hover{
  filter: drop-shadow(1px 5px 6px rgba(0, 0, 0, 0.9));
}

.listItem.show {
  opacity: 1;

}

.listItem.completedActivity{
  background-color: #d6ecd2;
  opacity: 1;    
  filter:none;
}
  
.listTextWrapper{
  width:85%;
}
  
.listActivity{
  display:flex;
  padding: 5px 0;
  margin-bottom: 5px;
}
  
.listDate{
  display:flex;
  font-size:12px;
}
  
.listIconsWrapper{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  